- content_for :header do
  = stylesheet_link_tag 'songs'
  
%h2 
  - if @song.artist != nil
    #{@song.artist.name} - #{@song.title}
  - else
    #{@song.title} 
%h3 
  - if @song.album != nil
    #{@song.album.name}
.album-image
  - if @song.image_path
    %img{:src => "#{@song.image_path}", :width => 200, :height => 200}
  - else
    = image_tag "imagenotfound.png", :height => 200, :width => 200
%h4
  .basic_info
    Allgemeine Informationen:
    %ul
      %li Länge: #{@duration}
      %li Bitrate: #{@song.bitrate} kbp/s
      %li Kanal: #{@song.channel_mode}
      %li SampleRate: #{@song.sample_rate}
      %li MPEG-Version: #{@song.mpeg_version}      
      %li Jahr: #{@song.released}
      %li Fingerprint: #{@finger_print}
  .tag_info 
    
%a{:href => "#{@song.song.url} "}
  %b Song herunterladen


