%h2 
  - if @song.artist != nil
    #{@song.artist.name} - #{@song.title}
  - else
    #{@song.title} 
%h3 
  - if @song.album != nil
    #{@song.album.name}
%h4
  .basic_info
    Allgemeine Informationen:
    %ul
      %li Länge: #{@duration}
      %li Bitrate: #{@song.bitrate} kbp/s
      %li Kanal: #{@song.channel_mode}
      %li SampleRate: #{@song.sample_rate}
      %li MPEG-Version: #{@song.mpeg_version}      
      %li Jahr: #{@song.released}
      %li Fingerprint: #{@finger_print}
  .tag_info 
    
%a{:href => "#{@song.song.url} "}
  %b Song herunterladen


