%div
  %h3 Duplikatcheck 
  .div
    %i.icon-search.icon-4x{:style => "float: left; width: 70px; height:50px;"}
    %p Bei einem Klick auf den Button unten werden alle Duplikate aus der Datenbank entfernt. Dabei werden bei gefunden Duplikaten diejenigen Elemente entfernt, die weniger Tag-Informationen besitzen.
    %p{:style => "clear:both"}=link_to "Duplikate entfernen", management_duplicatecheck_path, class: "btn btn-inverse"
    
%div
  %h3 Import
  .div
    %i.icon-cloud-upload.icon-4x{:style => "float: left; width: 70px; height:50px;"}
    %p="Alle Songs aus dem unsorted-Ordner #{Preferences.mp3_unsorted_folder} importieren. Gleichzeitig wird der Fingerprint der einzelnen Lieder generiert und für weitere Verarbeitungen abgespeichert."
    %p{:style => "clear:both"}=link_to "Importieren", management_import_path, class: "btn btn-inverse"
    %p
      = "Laufende Jobs (#{@jobs.count}):"
      %ul
        - if @jobs.count != 0
          - @jobs.each do |job|
            %li= "Job mit #{job.filecount} Dateien (#{job.filecount_processed} verarbeitet)"
        - else
          %li Keine Jobs vorhanden!

%div
  %h3 Retagging
  .div
    %i.icon-tags.icon-4x{:style => "float: left; width: 70px; height:50px;"}
    %p="Alle Songs aus dem sorted-Ordner #{Preferences.mp3_folder} werden analysiert und gegebenenfalls mit neuen Tags versehen. Dabei wird der Fingerprint an AcousticID übertragen und mögliche Resultate verarbeitet"
    %p{:style => "clear:both"}=link_to "Retagging", management_retagging_path, class: "btn btn-inverse"
