%p#notice= notice
%h3
  Album:
= @album.name
%h3
  Artist:
= @album.artist.name

%h5 
  Lieder vom Album:
  %ul

  - @songs.each do |song|
    %li #{song['rank']} #{song['name']}
= link_to 'Edit', edit_album_path(@album)
|
\#{link_to 'Back', albums_path}