- content_for :header do
  = stylesheet_link_tag 'albums'
  = stylesheet_link_tag 'collection'

%h2
  - if @album.artist
    #{@album.artist.name} - #{@album.name}
  - else
    #{@album.name} 
.album
  .album-image
    - if @album_cover
      %img{:src => "#{@album_cover}", :width => 400, :height => 400}
    - else
      = image_tag "imagenotfound.png", :height => 200, :width => 200
  .album-description
    - if @description
      #{@description}
    - else
      Keine Beschreibung vorhanden
.songs
  = render :partial => "collection/music_list", :object => @song_list, :locals => {:backlink => (url_for @album) }
