%p#notice= notice

%h2
  Artist:
= @album.artist.name
%h3
  Album:
= @album.name
.album-image
- if @album_cover
  %img{:src => "#{@album_cover}", :width => 200, :height => 200}
- else
  = image_tag "imagenotfound.png", :height => 200, :width => 200

%h5 
  Lieder vom Album:
  %ol
    - @songs.each do |song|
      %li #{song['name']}


