- content_for :header do
  = javascript_include_tag 'mp3player'
  = javascript_include_tag 'playlists'
%div
  %h3 Playlists 
  .div
    %i.icon-headphones.icon-4x{:style => "float: left; width: 70px; height:50px;"}
    %p In diesem Bereich werden alle angelegten Playlists angezeigt. Hier können Lieder aus den Playlisten entfernt werden oder angehört werden.
    %p=link_to "Neue Playlist anlegen", "/playlists/new", class: "btn btn-inverse"
.musicpanel
  #accordion2.accordion{:active=>false, :collapsible=>true}
    - @playlists.each do |playlist|
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapse#{playlist.id}"}
            #{playlist.name}
        .accordion-body.collapse.in{:id=>"collapse#{playlist.id}"}
          .accordion-inner
            %table.table.table-hover.music-table
              %thead
                %tr
                  %th Track
                  %th Artist
                  %th Time
                  %th Album
              %tbody#table-content
                - playlist.songs.each do |song|
                  %tr
                  %td.row-track #{song.title}
                  - if song.artist != nil
                    %td.row-artist #{song.artist.name}
                  %td.row-time #{song.length}
                  - if song.album != nil
                    %td.row-album #{song.album.name}
                  %td.row-buttons
                    .button-container
                      .btn-group
                        %a.btn.btn-small.play-btn{"data-songtitle" => song.title, "data-path" => Preferences.mp3_url + song.song.url}
                          %i.icon-play
                            Abspielen
                      .btn-group
                        %a.btn.btn-small.search-btn{:href => "/songs/#{song.id}"}
                          %i.icon-search
                            Infos
                      .btn-group
                        %a.btn.btn-small.remove-btn{"data-songid" => song.id, "data-playlistid" => playlist.id}
                          %i.icon-bookmark
                            Entfernen
- content_for :footer do
  #player
    .jp-type-playlist
    #jquery_jplayer_1.jp-jplayer{:style => "width: 0px; height: 0px;"}
    #jp_container_1.jp-audio
      .jp-type-playlist
        .jp-gui.jp-interface{:style => ""}
          %ul.jp-controls
            %li
              %a.jp-previous{:href => "javascript:;", :tabindex => "1"} previous
            %li
              %a.jp-play{:href => "javascript:;", :style => "", :tabindex => "1"} play
            %li
              %a.jp-pause{:href => "javascript:;", :style => "display: none;", :tabindex => "1"} pause
            %li
              %a.jp-next{:href => "javascript:;", :tabindex => "1"} next
            %li
              %a.jp-stop{:href => "javascript:;", :tabindex => "1"} stop
            %li
              %a.jp-mute{:href => "javascript:;", :style => "", :tabindex => "1", :title => "mute"} mute
            %li
              %a.jp-unmute{:href => "javascript:;", :style => "display: none;", :tabindex => "1", :title => "unmute"} unmute
            %li
              %a.jp-volume-max{:href => "javascript:;", :style => "", :tabindex => "1", :title => "max volume"} max volume
          .jp-progress
            .jp-seek-bar{:style => "width: 0%;"}
              .jp-play-bar{:style => "width: 0%;"}
          .jp-volume-bar{:style => ""}
            .jp-volume-bar-value{:style => "width: 80%;"}
          .jp-time-holder
            .jp-current-time 00:00
            .jp-duration 00:00
          %ul.jp-toggles
            %li
              %a.jp-shuffle{:href => "javascript:;", :style => "", :tabindex => "1", :title => "shuffle"} shuffle
            %li
              %a.jp-shuffle-off{:href => "javascript:;", :style => "display: none;", :tabindex => "1", :title => "shuffle off"} shuffle off
            %li
              %a.jp-repeat{:href => "javascript:;", :style => "", :tabindex => "1", :title => "repeat"} repeat
            %li
              %a.jp-repeat-off{:href => "javascript:;", :style => "display: none;", :tabindex => "1", :title => "repeat off"} repeat off
        .jp-playlist
          .addscrollpane
            %ul{:style => "display: block;"}
              %li.jp-playlist-current
                %div
        .jp-no-solution{:style => "display: none;"}
          %span Update Required
          To play the media you will need to either update your browser to a recent version or update your
          = succeed "." do
            %a{:href => "http://get.adobe.com/flashplayer/", :target => "_blank"} Flash plugin
