!!!
%html
  %head
    %title EcoTunes
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :header
- if current_user
  %body
    .navbar.navbar-static.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          .brand
            %i.icon-cloud.icon
            %i#title{:style => ""}
              = link_to "EcoTunes", root_path
            %i.icon-music.icon
          %ul.nav
            %li= link_to "Musikdatenbank bearbeiten", musicupload_path
            %li= link_to "Management", management_path
            %li= link_to "Playlists", playlists_path
            %li= link_to "Album generieren", collection_path
          %form.navbar-search.pull-right
            %input#search.search-query{:placeholder => "Musik suchen", :type => "text"}
            .icon-search
            -if current_user
              -if current_user.name
                = "Eingeloggt: #{current_user.name}" 
    .container#wrap
      - if flash.count != 0
        .alert
          %button.close{:type => "button", "data-dismiss" => "alert"} &times;
          - flash.each do |k,v|
            %p=v
      = yield
    .div#footer
      -if content_for? :footer
        %a.btn.close#close-open.is-open
          Close
          %i.icon-chevron-down
        .container.muted.credit
          = yield :footer
- else
  %body
    .container
      = yield